Repository project-sin/sin, pull requests merged in 2021-07, with the labels that each got.

#16 feat: 프론트 자주하는 질문 틀 구현
  frontend/sin/src/App.js
  frontend/sin/src/components/Header.js
  frontend/sin/src/components/List.js
  frontend/sin/src/components/Mypage.js
  frontend/sin/src/components/Notice.js
  frontend/sin/src/components/mypage/Destination.js
  frontend/sin/src/components/mypage/Mypage_coupon.js
  frontend/sin/src/components/mypage/Mypage_emoney.js
  frontend/sin/src/components/mypage/Mypage_orderlist.js
  frontend/sin/src/components/mypage/Mypage_review.js
  frontend/sin/src/components/mypage/Product_inquiry.js
  frontend/sin/src/components/notice/Faq.js
  frontend/sin/src/components/notice/Noticesection.js
Labels: feature, frontend

#22 feat: 백엔드 고객센터-공지사항 구현
  .idea/.gitignore
  .idea/compiler.xml
  .idea/dbnavigator.xml
  .idea/gradle.xml
  .idea/jarRepositories.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/sin.iml
  .idea/uiDesigner.xml
  .idea/vcs.xml
  backend/sin/build.gradle
  backend/sin/http/notification.http
  backend/sin/src/main/java/sin/sin/controller/NotificationController.java
  backend/sin/src/main/java/sin/sin/domain/notification/Notification.java
  backend/sin/src/main/java/sin/sin/domain/notification/NotificationRepository.java
  backend/sin/src/main/java/sin/sin/dto/NotificationRequest.java
  backend/sin/src/main/java/sin/sin/dto/NotificationResponse.java
  backend/sin/src/main/java/sin/sin/service/NotificationService.java
  backend/sin/src/main/resources/application.properties
  backend/sin/src/main/resources/notification.sql
  backend/sin/src/test/java/sin/sin/domain/notification/NotificationRepositoryTest.java
  backend/sin/src/test/java/sin/sin/sqlCreation/NotificationTest.java
Labels: backend, feature

#24 feat: 자주하는 질문 답변표시기능 구현
  frontend/sin/package-lock.json
  frontend/sin/src/components/notice/Faq.js
Labels: feature, frontend

#28 feat : 공지사항 세부사항 틀 구현
  frontend/sin/src/App.js
  frontend/sin/src/components/Noticepage.js
  frontend/sin/src/components/notice/Faq.js
Labels: feature, frontend

#26 refactor: 공지사항 검색 기능 개선
  .idea/compiler.xml
  .idea/sin.iml
  backend/sin/build.gradle
  backend/sin/http/notification.http
  backend/sin/src/main/java/sin/sin/SinApplication.java
  backend/sin/src/main/java/sin/sin/config/TomcatWebServerCustomizer.java
  backend/sin/src/main/java/sin/sin/controller/NotificationController.java
  backend/sin/src/main/java/sin/sin/domain/notification/SearchNotificationRepository.java
  backend/sin/src/main/java/sin/sin/service/NotificationService.java
Labels: backend, refactor
